*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: 80vh;
}

#harmonies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.harmony {
  padding: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.harmony input {
  margin-right: 4px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.interface {
  display: inline-block;
  padding: 16px;
  border-radius: 16px;
  background-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 96px;
  min-width: 12rem;
  outline: 2px solid transparent;
  height: max-content;
  font-size: 0.9rem;
}

.interface:nth-child(2),
.interface:nth-child(4) {
  z-index: 2;
}

#primary-interface {
  background-color: #ffffff;
  font-size: 1rem;
  z-index: 3;
}

#primary-interface .interface-wrapper {
  display: grid;
  grid-template-rows: 3fr auto;
  grid-template-columns: 1fr;
  gap: 12px;
}

.top-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 160px;
  gap: 8px;
}

#color-picker {
  height: 16px;
  width: 32px;
  border: none;
  margin-left: 8px;
}

.selected-color {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background-color: black;
  margin: 24px auto;
}

p,
label {
  font-family: monospace;
  font-size: 0.9em;
  font-weight: bold;
}

span {
  font-weight: normal;
}

#color-picker-label {
  font-size: 0.8em;
  display: flex;
  cursor: pointer;
}
