*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: 80vh;
}

#interface {
  display: inline-block;
  padding: 24px;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 96px;
}

.interface-wrapper {
  display: grid;
  grid-template-rows: 3fr auto;
  grid-template-columns: 1fr;
  gap: 12px;
}

.top-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 160px;
  gap: 8px;
}

#color-picker {
  height: 14px;
  width: 32px;
  border: none;
  margin-left: 8px;
}

.selected-color {
  width: 96px;
  height: 96px;
  border-radius: 16px;
  background-color: black;
  margin: 24px auto;
}

p,
label {
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
}

span {
  font-weight: normal;
}

label {
  font-size: 0.8rem;
  display: flex;
  cursor: pointer;
}
